# PostgreSQL connection string (разные команды/субдомены должны использовать разные БД)
DATABASE_URL=postgresql://esg_data_hub_user:zSOmvh5JGVumwDuMjHe34XPTF5K0bZhS@dpg-d75ankc50q8c73chcal0-a/esg_data_hub?sslmode=require
# Порт, на котором backend доступен
PORT=3000
# Окружение: development|production|test
NODE_ENV=production
# JWT secret (обязательно менять в продакшене на уникальное, не хранить в Git)
JWT_SECRET=your-strong-jwt-secret
# Опционально: любой кастомный имя БД для поддомена/команды
DB_NAME=esg_data_hub
